<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="submit" method="post" style="display: flex; flex-direction: column; width: 300px; padding-top: 20px; gap: 10px;">
        <input type="text" name="myname" placeholder="Enter name" required>
        <input type="email" name="myemail" placeholder="Enter email" required>
        <input type="password" name="mypassword" placeholder="Enter password" required>
        <button type="submit" style="background-color: green;">Submit</button>
    </form>
</body>
</html>
