<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>title</title>
  </head>
  <body>
    <h1>User Page</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed totam esse
      tempora in consequatur nostrum unde magni magnam dolorum omnis. Qui et
      iure ipsum, placeat praesentium ipsa fugit porro alias!
    </p>
    <a href='/download'>Download</a>
  </body>
</html>
