<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('header') %>
    <div style="padding: 20px; height: 70vh;">
        <h1><%=title %></h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eum velit,
          aliquam quaerat saepe odit ab quia itaque fugit, sunt eveniet expedita
          inventore quis ratione officia corporis, neque illo quo.
        </p>
       <h1>User name : <%= name %></h1>
    </div>

    <%- include('footer') %>
</body>
</html>